.idea-card {
  width: 250px;
  height: 250px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.idea-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.idea-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.idea-category {
  display: flex;
  align-items: center;
  gap: 8px;
}

.category-badge {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px 5px;
  border-radius: 10px;
  min-width: 100px;
  height: 30px;
}

.category-icon {
  margin-right: 5px;
}


.category-icon {
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.category-name {
  font-size: 0.8rem;
  font-weight: bold;
  color: black;
}

.hide-btn,
.save-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  font-size: 1.2rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.save-btn .saved {
  color: #f4989c;
}

.save-btn:hover {
  color: #ff5f6d;
}

.hide-btn .hidden{
  color: #EBD2B4;
}


.hide-btn:hover {
  color: #bfb4a5;
}

.idea-card-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  margin: 3px 0;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.idea-card-description {
  font-size: 1.1rem;
  color: #555;
  margin-top: 2px;
  line-height: 1;
  flex-grow: 1;
  overflow: hidden;
}

.idea-card-footer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}




  
  
  