.search-bar-container {
    padding: 50px 50px;
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }
  
  .search-form {
    width: 80%;
  }
  
  .search-input-wrapper {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }
  
  .search-input {
    background-color: transparent;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 8px 20px;
    font-size: 1rem;
    color: #333;
    width: 100%;
    padding-right: 40px;
    outline: none;
    transition: border-color 0.3s ease;
    box-sizing: border-box;
  }
  
  .search-icon {
    position: absolute;
    right: 15px;
    font-size: 1.2rem;
    color: #333;
    transition: color 0.3s ease;
    display: flex;
    align-items: center;
  }
  
  .search-input:focus + .search-icon {
    color: #acecf7;
  }
  
  .search-input:focus {
    border-color: #acecf7;
    box-shadow: 0px 0px 10px rgba(172, 206, 247, 0.5);
  }
  
  .search-input::placeholder {
    color: #ccc;
  }
  
  @media (max-width: 768px) {
    .search-input-wrapper {
      width: 100%;
    }
  }
  
  
  
  
  
  
  
  