/* Navbar Container */

.custom-navbar {
    background: linear-gradient(135deg,#f4989c, #dac4f7, #d6f6dd, #acecf7);
    padding: 6px 10px;
    border-bottom: 3px solid #EBD2B4;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Navbar Brand (Logo + Text) */
.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: white !important;
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar-brand i {
    font-size: 1.5rem;
    color: white !important;
}

/* Navbar Links */
.nav-links {
    display: flex;
    gap: 25px;
}

.nav-links .nav-item {
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.2s ease-in-out;
}

.nav-links .nav-item:hover {
    color: #ACECF7;
    transform: scale(1.05);
}

.link-text {
    color: white;
}

/* Navigation Icons */
.nav-icon i {
    font-size: 1.5rem;
    color: white;
    transition: color 0.3s ease;
}

.nav-icon:hover i {
    color: #DAC4F7;
}

/*Navbar Buttons */
.nav-buttons .btn {
    padding: 8px 14px;
    font-weight: bold;
    border-radius: 6px;
    transition: color 0.3s ease, transform 0.2s ease-in-out;
}

.btn-outline {
    color: white !important;
    border: 2px solid white;
}

.btn-outline:hover {
    background: white !important;
    color: #F4989C !important;
}

.btn-primary {
    background-color: #F4989C;
    border-color: #F4989C;
}

.btn-primary:hover {
    background-color: #ACECF7;
    border-color: #ACECF7;
    transform: scale(1);
}

.btn-primary:active {
    background-color: white !important;
    border: 2px solid;
    border-color: #F4989C !important;
    color: #F4989C !important;
    transform: scale(1);
}
  